<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ redirect_url }}">
    <meta name="author" content="Julien A. Raemy">
    <title>Redirecting...</title>
</head>
<body>
    <p>Page moved. Redirecting to <a href="{{ redirect_url }}">{{ redirect_url }}</a></p>
</body>
</html>
