/* Fonts and Typography */
@font-face {
    font-family: "CMUSerif-Roman";
    src: local("CMUSerif-Roman"), url("../fonts/cmunrm.otf");
}
@font-face {
    font-family: "CMUSerif-Bold";
    src: local("CMUSerif-Bold"), url("../fonts/cmunbx.otf");
    font-weight: bold;
}
@font-face {
    font-family: "CMUSerif-Italic";
    src: local("CMUSerif-Italic"), url("../fonts/cmunti.otf");
    font-style: italic;
}
@font-face {
    font-family: "CMUSerif-BoldItalic";
    src: local("CMUSerif-BoldItalic"), url("../fonts/cmunbi.otf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "CMUTypewriter-Regular";
    src: local("CMUTypewriter-Regular"), url("../fonts/cmuntt.otf");
}
@font-face {
    font-family: "CMUSansSerif-Italic";
    src: local("CMUSansSerif-Italic"), url("../fonts/cmunbmo.ttf");
    font-style: italic;
}
@font-face {
    font-family: "CMUSansSerif";
    src: local("CMUSansSerif"), url("../fonts/cmunbmr.ttf");
}
@font-face {
    font-family: "CMUSansSerif-BoldItalic";
    src: local("CMUSansSerif-BoldItalic"), url("../fonts/cmunbso.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "CMUSansSerif-Bold";
    src: local("CMUSansSerif-Bold"), url("../fonts/cmunbsr.ttf");
    font-weight: bold;
}

body {
    font-family: 'CMUSansSerif', 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0 20px;
    background-color: #f4f4f4;
    color: #333;
}

/* Reset and Base Styles */
h1, h2, h3, h4, h5, h6, figure, figcaption {
    font-family: "CMUSerif-Bold";
    margin: 0;
    padding: 0;
}

h1 { font-size: 1.8em; margin-bottom: 10px; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

img {
    max-width: 100%;
    height: auto;
}

/* Navigation Bar */
nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    position: relative;
}

.nav-trigger {
    display: none; /* This will still only show in mobile view */
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-family: 'CMUSansSerif-Bold', 'Segoe UI', Tahoma, Verdana, sans-serif; /* Match the font family */
    font-size: 1.35em; /* Match the font size, adjust as necessary */
}


.nav-trigger:after {
    content: '\25BC';
    float: right;
}

.nav-trigger.active:after {
    content: '\25B2';
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

nav ul li {
    display: inline-block;
    font-size: 1.35em; 
}

/* Navigation Bar Item Spacing for Larger Screens */
nav ul li:not(:first-child) {
    margin-left: 60px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive Navigation */
@media screen and (max-width: 768px) {
    .nav-trigger {
        display: block;
    }

    nav ul.collapsed {
        display: none; /* Hide when collapsed */
    }

    nav ul {
        display: block; /* Default state, shown */
    }

    nav ul li,
    nav ul li:not(:first-child) { /* This targets all li elements, including the first child */
        display: block;
        margin-left: 0; /* Ensure no left margin is applied */
        padding: 10px 0; /* Consistent padding for all items */
        text-align: left; /* Align text for all items uniformly */
        width: 100%; /* Ensure full width for easier tapping on mobile */
    }

    nav ul li a {
        display: block;
        margin: 0 20px; /* Add margin */
        color: white; /* Ensure text color is white */
    }
}

/* Link Styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header, Paragraphs, Container */
header {
    background: transparent; /* No background color for the header */
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

p {
    margin-top: 10px;
}

blockquote {
    background-color: #f5f5f5; /* Light gray background typical for code blocks */
    border-left: 5px solid #ccc; /* A subtle left border */
    margin: 20px 0;
    padding: 10px 20px;
    font-family: "CMUTypewriter-Regular", monospace; /* Using the monospace font declared earlier */
    position: relative; /* Needed for pseudo-element positioning */
    overflow-x: auto; /* In case of long lines */
}

.container {
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

footer {
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 0.75em;
}
